html {overflow: scroll;}

body {
    background-color: #abc;
    overflow: hidden;
  }
div {
    background-color: #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-weight: bold;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-decoration: none;
    color: #002937;
}
div.row {
    background-color: #eee;
    width: 750px;
    height: 72px;
    margin: 6px;
    box-shadow:none;
}
div.board {
    overflow-y: scroll;
    background-color: #0000;
    width: 672;
    position: fixed;
    left: 600px;
}
div.tile {
    font-size: 36px;
    width: 80px;
    height: 80px;
    margin: 5px;
    float: left;
    transition: 0.25s;
    line-height: 88px;
}
div.life {
    width: 80px;
    height: 26.66666px;
    background-color: #000;
    margin: 0px;
    float: left;
    transition: 0.25s;
    box-shadow: 0 0;
}